version: "3"
services:
  postgres:
    image: postgres:13
    ports:
    - 5432:5432
    environment:
      - POSTGRES_PASSWORD=${TYPEORM_PASSWORD}
    volumes:
    - ./data/postgres:/var/lib/postgres/data